.column {
  float: left;
  width: 500px;
  padding: 10px;
  text-align: justify;

}

img {
  width:400px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.column1 {
  background-color: lightgrey;
  padding: 10px;
  height: 600px;
}
.column2 {
  background-color:grey;
  padding: 10px;
  height: 600px;
}

.column3 {
  background-color: darkgrey;
  padding: 10px;
  height: 600px;
}
